<div id="graph-container">
	<div class="wrapper left"><section id="chart1"></section></div>
	<div class="wrapper right"><section id="chart2"></section></div>
	<div class="wrapper left"><section id="chart3"></section></div>
</div>

<script>
$(document).ready(function(){
  var data = [
    ['Cats', <%= @cats %> ],['Dogs', <%= @dogs %>], ['Other', <%= @others %>]
  ];
  var plot1 = jQuery.jqplot ('chart1', [data], 
    { 
      seriesDefaults: {
        // Make this a pie chart.
        renderer: jQuery.jqplot.PieRenderer, 
        rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true
        }
      }, 
      legend: { show:true, location: 'e' }
    }
  );

  var data = [
    ['Cats', <%= @cats %> ],['Dogs', <%= @dogs %>], ['Other', <%= @others %>]
  ];
  var plot1 = jQuery.jqplot ('chart2', [data], 
    { 
      seriesDefaults: {
        // Make this a pie chart.
        renderer: jQuery.jqplot.PieRenderer, 
        rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true
        }
      }, 
      legend: { show:true, location: 'e' }
    }
  );

  var data = [
    ['Cats', <%= @cats %> ],['Dogs', <%= @dogs %>], ['Other', <%= @others %>]
  ];
  var plot1 = jQuery.jqplot ('chart3', [data], 
    { 
      seriesDefaults: {
        // Make this a pie chart.
        renderer: jQuery.jqplot.PieRenderer, 
        rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true
        }
      }, 
      legend: { show:true, location: 'e' }
    }
  );
});
</script