<%= simple_form_for(:session, :url => sessions_path, :html => { :class => 'form form-login', :id => 'login-form' }) do |f| %>
  <div class="facebook-connect"><%= link_to image_tag('/images/facebook.png'), '/auth/facebook' %></div>
  <%= f.hidden_field :source, :value => @source || '/' %>
  <%= f.input :username, label: 'Username, e-mail or cell' %>
  <%= f.input :password %>
  <%= f.submit 'submit', :name => 'form', :value => 'login', :class => 'btn primary large primary' %>
  <p class="mobile">Need an account? <a href="#" class="registration-link">register</a></p>
<% end %>

