<div class="gate">
  <%= render 'header' %>
  <%= render 'aside' %>
  <section class="notifications">
    <% if flash[:message] %><p class="message"><%= h flash[:message] %></p><% end %>
    <% if flash[:error] %><p class="error"><%= h flash[:error] %></p><% end %>
  </section>
  <%= render 'login' %>
  <%= render 'register' %>
  <%= render 'footer' %>
</div>
