<div class="gate">
  <header>
    <img class="logo-ds" src="/images/logo-ds.png" alt="DoSomething.org logo">
    <h1>Pics for Pets</h1>
    <h2>Over half of the <strong>5 to 7 million</strong> pets that enter shelters are put to sleep. Help save their lives just by hitting “share.”</h2>
  </header>

  <aside>
    <h1>how it works</h1>
    <ol>
      <li>Browse our gallery of animals who need homes</li>
      <li>Share your favorites with friends to earn food and toys for the animals</li>
      <li>Visit your local shelter to take photos for a chance to win a $3,000 scholarship</li>
    </ol>
  </aside>

  <%= form_for(:session, :url => login_path, :html => { :class => 'form form-login', :id => 'login-form' }) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit 'submit', :name => 'form', :value => 'login', :class => 'btn btn-cta-large btn-primary' %>
    <p>Not a DoSomething.org member? <%= link_to 'register', '#', { :id => 'registration-link' } %></p>
  <% end %>

  <%= simple_form_for(:session, :url => login_path, :html => { :class => 'form form-registration right', :id => 'registration-form' }) do |f| %>
    <%= f.input :first, wrapper_html: { class: 'form-item-first-name' } %>
    <%= f.input :last, wrapper_html: { class: 'form-item-last-name' } %>
    <%= f.input :email, wrapper_html: { class: 'form-item-email' } %>
    <%= f.input :cell, wrapper_html: { class: 'form-item-cell' } %>
    <%= f.input :password, wrapper_html: { class: 'form-item-pass' } %>
    <%= f.label 'birthday' %>
    <%= f.input :month, label: false, placeholder: 'MM', wrapper_html: { class: 'form-item-month' } %>
    <%= f.input :day, label: false, placeholder: 'DD', wrapper_html: { class: 'form-item-day' } %>
    <%= f.input :year, label: false, placeholder: 'YYYY', wrapper_html: { class: 'form-item-year' } %>
    <%= f.submit 'submit', :name => 'form', :value => 'register', :class => 'btn btn-cta-large btn-primary' %>
    <p>Already have an account? <%= link_to 'log in', '#', { :id => 'login-link' } %></p>
  <% end %>

  <footer>
    <p>
      Clicking "Finish" won't sell your soul, but it means you agree to our <a href="/about/terms-of-service">terms of service</a> &amp; <a href="/about/privacy">privacy policy</a> &amp; to receive our weekly update.
    </p>
  </footer>
</div>
