<nav class="filters">
  <div class="section-container">

    <label for="animal_filter">Type of Pet:</label>
    <select class="animal_filter filter" id="animal_filter">
      <option value="all">All Animals</option>
      <%
        types = [['Cats', 'cats'], ['Dogs', 'dogs'], ['Other', 'others'], ['Featured', 'featured']]
        # Add a trailing "s" so "dog" becomes "dogs".  Makes more sense.
        params[:atype] << 's' if params[:atype].is_a? String and params[:atype][-1,1] != 's'
        types.each do |type, key|
      %>
        <option value="<%= key %>"<%= ' selected="selected"' if params[:atype] == key %>><%= type %></option>
      <% end %>
    </select>

    <label for="state_filter">Location:</label>
    <select class="state_filter filter" id="state_filter">
      <option value="">All States</option>
      <%
        states = get_states
        states.each do |key, state|
      %>
        <option value="<%= key %>"<%= ' selected="selected"' if params[:state] == key %>><%= state %></option>
      <% end %>
    </select>

    <a href="#" class="btn secondary medium filter" id="submit_filter"><span>go</span></a>
  </div>
</nav>

