<% cache 'footer' do %>

  <footer class="footer-help">
    <div class="section-container">
     <p class="help">Questions? E-mail Hilary at <a href="mailto:animals@dosomething.org">animals@dosomething.org</a></p>
    </div>
  </footer>
  <footer class="footer-sponsor">
    <div class="section-container">
     <%# <p class="sponsor-copy">Sponsored by:</p> %>
     <div class="sponsor-container first">
       <%= link_to '//icanhas.cheezburger.com/' do %>
         <%= image_tag '/images/logo-ichc.png', :class => 'sponsor-logo', :alt => 'I Can Has Cheez Burger Logo' %>
       <% end %>
     </div>
     <div class="sponsor-container second">
      <%= link_to '//www.adoptapet.com/' do %>
         <%= image_tag '/images/logo-aap.png', :class => 'sponsor-logo', :alt => 'Adopt a Pet Logo' %>
       <% end %>
     </div>
     <div class="sponsor-container third">
      <%= link_to '//bestfriends.org/' do %>
         <%= image_tag '/images/logo-bf.png', :class => 'sponsor-logo', :alt => 'Best Friends Animal Society Logo' %>
       <% end %>
     </div>
    </div>
  </footer>

  <div id="fb-root"></div>
  <script type="text/javascript">
   window.fbAsyncInit = function() {
     FB.init({
       appId: "<%= fb_app_id %>",
       status: true,
       cookie: true,
       xfbml: true,
     });
   };
   (function() {
     var e = document.createElement('script');
     e.async = true;
     e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
     document.getElementById('fb-root').appendChild(e);
   }());
  </script>

<% end %>

