<!-- #hidden fields for cropping -->
<% content_for(:head) do %>
  <%= stylesheet_link_tag 'jquery.Jcrop.min' %>
  <%= javascript_include_tag 'jquery.Jcrop.min' %>
<% end %>

<h2>tell us about your animal</h2>
<%= simple_form_for(@post, :html => { :multipart => true, :class => "form form-submit right" }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !@post.image_file_name %> 
    <%= f.input :image, required: true, wrapper_html: { class: 'form-item-first-name' }, input_html: { accept: 'image/jpeg,image/gif,image/png' } %>
    <div id="image_error">Invalid file type.</div>
    <%= f.input :meme_text, required: false, label: "Adopt me because... (optional)", wrapper_html: { class: 'form-item-meme-text', id: 'form-item-meme-text' } %>
    <%= f.input :meme_position, required: false, label: "Text position", wrapper_html: { class: 'form-item-meme-position' }, :as => :select, :collection => [['Top', 'top'], ['Bottom', 'bottom']], include_blank: false, :selected => 'top' %>

    <!-- #hidden fields for cropping -->
    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= f.hidden_field attribute, :id => attribute %>
    <% end %>

    <div id="upload-preview">
      <div id="top_text" class="text-pos">
        <div>Adopt me because...</div>
        <div class="yours"></div>
      </div>
      <div id="placeholder_text">
        <span class="text">Upload an image and it will appear here.</span>
      </div>
      <div id="bottom_text" class="text-pos">
        <div>Adopt me because...</div>
        <div class="yours"></div>
      </div>
    </div>
  <% else %>
    <div id="upload-preview">
      <%= image_tag @post.image.url(:gallery) %>
    </div>
  <% end %>
  <%= f.input :name, label: "What is the animal's name?", wrapper_html: { class: 'form-item-cell' } %>
  <%= f.input :animal_type, wrapper_html: { class: 'form-item-pass' }, :as => :select, :collection => [['Cat', 'cat'], ['Dog', 'dog'], ['Other', 'other']], prompt: 'Choose a type', include_blank: false %>
  <%= f.input :shelter, label: "What's the name of this animal's shelter?", wrapper_html: { class: 'form-item-day' } %>
  <%= f.input :state, label: "What state is this shelter in?", wrapper_html: { class: 'form-type-month' }, :as => :select, :collection => get_states, prompt: 'Choose a state', include_blank: false %>
  <% if admin? %>
    <%= f.input :story, label: "Does this pet have a compelling story? Write it here.", required: false, wrapper_html: { class: 'form-item-year' } %>
    <%= f.input :adopted, label: 'Adopted', :as => :boolean %>
    <%= f.input :flagged, label: 'Flagged', :as => :boolean %>
    <%= f.input :promoted, label: 'Promoted', :as => :boolean %>
    <%= f.input :share_count, label: 'Share count' %>
  <% end %>
  <%= f.input :creation_time, :as => :hidden, :value => Time.now %>
  <%= f.input :update_time, :as => :hidden, :value => Time.now %>
  <%= f.submit 'submit', :value => 'Submit', :id => 'edit-final-submit', :class => 'btn primary large' %>
<% end %>