<div class="post-list">
<% @posts.each do |post| %>
  <div class="post id-<%= post.id %>">
    <div class="name-loc"><%= post.name %>, <%= post.state %></div>
    <div class="share">Facebook coming...</div>
    <div class="image"><%= image_tag post.image(:gallery) %></div>
    <div class="adopt-me">Adopt Bunny at <%= link_to post.name + ', ' + post.state, 'blah' %></div>
  </div>
<% end %>
</div>

<br />

<%= link_to 'New Post', new_post_path %>
