<p id="notice"><%= notice %></p>

<div class="post-list">
  <div class="post id-<%= @post.id %>">
    <div class="name-loc"><%= @post.name %>, <%= @post.state %></div>
    <div class="share">Facebook coming...</div>
    <div class="image"><%= image_tag @post.image(:gallery) %></div>
    <div class="adopt-me">Adopt Bunny at <%= link_to @post.name + ', ' + @post.state, 'blah' %></div>
  </div>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
