<h1>user login gate</h1>
<%= form_for @user, :html => {:class => "form login-form"} do |f| %>

  <%= f.label(:username, "user name") %>
  <%= f.text_field :username %>
  <%= f.label(:password, "password") %>
  <%= f.password_field(:password)%>
  <%= f.submit "submit" %>
<% end %>

<div id="gate">
<div class="column" id="content">
  <div class="section">
    <div class="region region-content">
      <div id="block-system-main" class="block block-system">
        <div class="content">
          <div id="reg_header">
            <img class="ds_logo" src="//files.dosomething.org/files/campaigns/beta/logo.png" alt="DoSomething.org logo">
            <h1>
              Peanut Butter &amp; Jam Slam<img class="bang" src="//files.dosomething.org/files/campaigns/beta/bang.png" alt="exclamation point">
            </h1>
            <h2>
              <strong>1 out of 6</strong> Americans goes hungry every year. Sign up to change this.
            </h2>
          </div>
          <div id="reg_leftcol">
            <h1>
              how it works
            </h1>
            <h2>
              Donate 10 jars of peanut butter, jam or any other food and help end hunger in your community.
            </h2>
          </div>
          <form novalidate="novalidate" action="/user/registration?destination=pbj" method="post" id="dosomething-login-register-popup-form" accept-charset="UTF-8" name="dosomething-login-register-popup-form">
            <img class="form_header" src="//files.dosomething.org/files/campaigns/beta/form_header.png" alt="sign up">
            <div>
              <div id="edit-title-text" class="form-item form-type-item">
                <label for="edit-title-text">You’re Almost There</label>
              </div>
              <div class="connect-with-facebook form-wrapper" id="edit-connect">
                <a href="https://www.facebook.com/dialog/oauth?client_id=105775762330&amp;redirect_uri=http%3A//www.dosomething.org/fboauth/connect%3Fdestination%3Dpbj&amp;scope=email%2Cuser_birthday">Connect with Facebook</a>
              </div>
              <div class="separator form-wrapper" id="edit-or">
                or
              </div>
              <div class="popup-content">
                <div class="form-item form-type-textfield form-item-first-name">
                  <label for="edit-first-name">First Name <span class="form-required" title="This field is required.">*</span></label> <input placeholder="First Name" class="dosomething-original-value form-text required" id="edit-first-name" name="first_name" value="" size="9" maxlength="128" type="text">
                </div>
                <div class="form-item form-type-textfield form-item-last-name">
                  <label for="edit-last-name">Last Name <span class="form-required" title="This field is required.">*</span></label> <input placeholder="Last Name" class="dosomething-original-value form-text required" id="edit-last-name" name="last_name" value="" size="9" maxlength="128" type="text">
                </div>
                <div class="form-item form-type-textfield form-item-email">
                  <label for="edit-email">Email<span class="ds-registration-form-required form-required" title="This field is required.">*</span></label> <input placeholder="Email" id="edit-email" name="email" value="" size="20" maxlength="128" class="form-text" type="text">
                </div>
                <div class="form-item form-type-textfield form-item-cell">
                  <label for="edit-cell">Cell</label> <input placeholder="Cell" id="edit-cell" name="cell" value="" size="20" maxlength="128" class="form-text" type="text">
                </div>
                <div class="form-item form-type-password form-item-pass">
                  <label for="edit-pass">Password <span class="form-required" title="This field is required.">*</span></label> <input placeholder="Password" id="edit-pass" name="pass" size="20" maxlength="128" class="form-text required" type="password">
                </div>
                <div id="edit-birthday" class="form-item form-type-item">
                  <label for="edit-birthday"><span class="login-popup-birthday">Birthday</span><span class="ds-registration-form-required form-required" title="This field is required.">*</span></label>
                  <div class="form-item form-type-textfield form-item-month">
                    <input placeholder="mm" id="edit-month" name="month" value="" size="2" maxlength="2" class="form-text" type="text">
                  </div>
                  <div class="form-item form-type-textfield form-item-day">
                    <input placeholder="dd" id="edit-day" name="day" value="" size="2" maxlength="2" class="form-text" type="text">
                  </div>
                  <div class="form-item form-type-textfield form-item-year">
                    <input placeholder="yyyy" id="edit-year" name="year" value="" size="4" maxlength="4" class="form-text" type="text">
                  </div>
                </div>
                <div style="display: none;" class="under-13-field">
                  <div id="edit-parent-email-message" class="form-item form-type-item">
                    <label for="edit-parent-email-message">What a Rock Star!</label>
                    <div class="description">
                      Since you're under the age of 13, you'll need to get a parent or guardian's permission.
                    </div>
                  </div>
                  <div class="form-item form-type-textfield form-item-parent-email">
                    <input placeholder="Parent or Guardian's Email" id="edit-parent-email" name="parent_email" value="" size="20" maxlength="128" class="form-text" type="text">
                  </div><span class="ds-registration-form-required form-required" title="This field is required.">*</span>
                </div>
                <div class="disclaimer">
                  <div id="edit-signup" class="form-item form-type-item">
                    <div class="description">
                      Clicking “Finish” won't sell your soul, but it means you agree to our<br>
                      <a href="/about/terms-of-service">terms of service</a> &amp; <a href="/about/privacy">privacy policy</a> &amp; to receive our weekly update.
                    </div>
                  </div>
                </div>
              </div>
              <div class="ds-login-popup-footer">
                <input id="edit-final-submit" name="op" value="Finish" class="form-submit" type="submit">
              </div><span class="already-member">already a member? <a href="/user" class="or-sign-in sign-in-popup">log in</a></span><input name="form_build_id" value="form-eFZuSvZ1Pf-uVaTuznxDGZq27RhN4JTtxKxyoQ92hPQ" type="hidden"> <input name="form_id" value="dosomething_login_register_popup_form" type="hidden">
            </div>
          </form>
          <div id="reg_footer">
            <p>
              Clicking "Finish" won't sell your soul, but it means you agree to our <a href="/about/terms-of-service">terms of service</a> &amp; <a href="/about/privacy">privacy policy</a> &amp; to receive our weekly update.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
