<!DOCTYPE html>
<html>
<head>
  <title>Pics for Pets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if Rails.env.development? %><%= render 'partials/debug' %><% end %>

<%= render 'partials/header' %>
<%= render 'partials/cta' %>
<%= render 'partials/filters' %>

<%= yield %>

<%= render 'partials/footer' %>

</body>
</html>

