<!DOCTYPE html>
<html>
<head>
  <title>Pics for Pets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="wrapper">

<% if !admin? %>
  <h1 class="error">not admin</h1>
<% end %>

<% if admin? %>
  <h1 class="message">admin</h1>
<% end %>

<% if !authenticated? %>
  <h1 class="error">not authenticated</h1>
<% end %>

<% if authenticated? %>
  <h1 class="message">authenticated</h1>
<% end %>

<% if flash[:message] %>
  <div><p class="message"><%= h flash[:message] %></p></div>
<% end %>

<% if flash[:error] %>
  <div><p class="error"><%= h flash[:error] %></p></div>
<% end %>

<p>session id:</p><small><%= session[:drupal_session_id]  %></small>
<p>session name:</p><small><%= session[:drupal_session_name]  %></small>
<%= link_to 'logout', :logout, { :class => 'logout' } %>

<%= yield %>

</body>
</html>
