<!DOCTYPE html>
<html>
<head>
  <title>Pics for Pets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="wrapper">

<p>session id:</p><small><%= session[:drupal_session_id]  %></small>
<p>session name:</p><small><%= session[:drupal_session_name]  %></small>

<% if flash[:message] %>
  <div class="message"><%= h flash[:message] %></div>
<% end %>

<%= yield %>

</body>
</html>
